@model educationProject.Models.Docente

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Docente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CedulaDocente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CedulaDocente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreDocente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreDocente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApellidoDocente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApellidoDocente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelefonoDocente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelefonoDocente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DireccionDocente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DireccionDocente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NivelEducativo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NivelEducativo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdDocente">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
